Console/bin/
Console/obj/
Core/.vs/
Core/Core/obj/
Core/LotteryCore/bin/
Core/LotteryCore/obj/
GUI/GUI/bin/
GUI/GUI/obj/
Core/packages/MonoGame.Content.Builder.3.7.0.9/
Core/packages/
GLVersionGUI/GLVersionGUI/bin/
GLVersionGUI/GLVersionGUI/obj/
MonoGame/MonoGame/bin/
MonoGame/MonoGame/obj/
build/
.vs/
*.csproj
*.cache
*.sln
Source/MonoGame/MonoGame/bin/
Source/MonoGame/MonoGame/obj/
SharpMake/source/console/obj/
SharpMake/source/core/obj/
SharpMake/source/gui/obj/
