<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WPF_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GUI.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Raffle Bot RTX 3080</value>
            </setting>
            <setting name="DisplayImage" serializeAs="String">
                <value>LibraryNewGames.jpg</value>
            </setting>
            <setting name="AnswersIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>StarWars</value>
            </setting>
            <setting name="PreSelectAudioList" serializeAs="String">
                <value />
            </setting>
            <setting name="PostSelectAudioList" serializeAs="String">
                <value />
            </setting>
            <setting name="ForfeitIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LotteryEngine" serializeAs="String">
                <value>Causality</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Who does Number 2 Work For?</value>
            </setting>
        </GUI.Properties.Settings>
        <WPF_GUI.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Raffle Bot RTX 3080</value>
            </setting>
            <setting name="DisplayImage" serializeAs="String">
                <value>LibraryNewGames.jpg</value>
            </setting>
            <setting name="AnswersIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>StarWars</value>
            </setting>
            <setting name="PreSelectAudioList" serializeAs="String">
                <value />
            </setting>
            <setting name="PostSelectAudioList" serializeAs="String">
                <value />
            </setting>
            <setting name="ForfeitIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LotteryEngine" serializeAs="String">
                <value>Causality</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Who does Number 2 Work For</value>
            </setting>
        </WPF_GUI.Properties.Settings>
    </applicationSettings>
</configuration>